{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Бронь</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ reservation.table.restaurant.name }}</h6>
    <p class="card-text"><strong> Время: {{ reservation.timeslot }}:00</strong> </p>
    <a class="btn btn-primary" href="{% url 'reservations' %}" class="card-link">Назад</a>
    <form action="{% url 'reservations_delete' id=reservation.id %}" method="post" onsubmit="return confirm('Удалить?')">
      {% csrf_token %}
      <button class="btn btn-danger">Удалить</button>
    </form>
  </div>
</div>

{% endblock %}